In [ ]:
#imports 
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from imblearn.over_sampling import SMOTE

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
# Load the DF
train_df = pd.read_csv('trainPetID.csv')
test_df = pd.read_csv('testPetID.csv')

In [ ]:
train_df.head()

       pet_id           issue_date  ... breed_category  pet_category
0  ANSL_69903  2016-07-10 00:00:00  ...            0.0             1
1  ANSL_66892  2013-11-21 00:00:00  ...            0.0             2
2  ANSL_69750  2014-09-28 00:00:00  ...            2.0             4
3  ANSL_71623  2016-12-31 00:00:00  ...            0.0             2
4  ANSL_57969  2017-09-28 00:00:00  ...            0.0             1

[5 rows x 11 columns]

In [ ]:
train_df.shape

(18834, 11)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18834 entries, 0 to 18833
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pet_id          18834 non-null  object
 1   issue_date      18834 non-null  object
 2   listing_date    18834 non-null  object
 3   condition       17357 non-null  float64
 4   color_type      18834 non-null  object
 5   length(m)       18834 non-null  float64
 6   height(cm)      18834 non-null  float64
 7   X1              18834 non-null  int64
 8   X2              18834 non-null  int64
 9   breed_category  18834 non-null  float64
 10  pet_category    18834 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 1.6+ MB

# Preprocessing

1. handle missing values
2. convert into respective datatypes

In [ ]:
#Fill missing values for condition column
train_df['condition'].fillna('missing', inplace = True)

In [ ]:
train_df.head()

       pet_id           issue_date  ... breed_category pet_category
0  ANSL_69903  2016-07-10 00:00:00  ...            0.0            1
1  ANSL_66892  2013-11-21 00:00:00  ...            0.0            2
2  ANSL_69750  2014-09-28 00:00:00  ...            2.0            4
3  ANSL_71623  2016-12-31 00:00:00  ...            0.0            2
4  ANSL_57969  2017-09-28 00:00:00  ...            0.0            1

[5 rows x 11 columns]

In [ ]:
#function to convert the columns in the respective data types
def convert_to_datatype(df, cols, data_type):
  for i in cols:
    df[i] = df[i].astype(data_type)
  return df

# converting respective columns into respective data_types
train_df = convert_to_datatype(train_df, ['breed_category'], 'int64')
train_df = convert_to_datatype(train_df, ['pet_id', 'condition', 'color_type', 'X1', 'X2', 'breed_category', 'pet_category'], 'category')
train_df = convert_to_datatype(train_df, ['issue_date', 'listing_date'], 'datetime64[ns]')

In [ ]:
#validate changes
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18834 entries, 0 to 18833
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pet_id          18834 non-null  category
 1   issue_date      18834 non-null  datetime64[ns]
 2   listing_date    18834 non-null  datetime64[ns]
 3   condition       18834 non-null  category
 4   color_type      18834 non-null  category
 5   length(m)       18834 non-null  float64
 6   height(cm)      18834 non-null  float64
 7   X1              18834 non-null  category
 8   X2              18834 non-null  category
 9   breed_category  18834 non-null  category
 10  pet_category    18834 non-null  category
dtypes: category(7), datetime64[ns](2), float64(2)
memory usage: 1.5 MB

#Feature Engineering

1. DateTime Features
2. Date Difference Features
3. One-Hot Encoding

In [ ]:
 # def condition_breed_category(df, col1, col2):
  # for i in col1: 
    # print (df[i])
    # if df[i] == 'missing':
      # for j in col2:
        # df[j] = 2
  # return df

# train_df = condition_breed_category(train_df, ['condition'], ['breed_category'])

In [ ]:
train_df.loc[train_df['condition'] == 'missing', ['breed_category']] = 2

In [ ]:
#For extracting additional date time features
def create_datetime_features(df, cols): 
    for i in cols: 
        df[i + '_year'] = df[i].dt.year
        df[i + '_month'] = df[i].dt.month
        df[i + '_week'] = df[i].dt.week
        df[i + '_day'] = df[i].dt.day
        df[i + '_hour'] = df[i].dt.hour
        df[i + '_dayofyear'] = df[i].dt.dayofyear
        df[i + '_dayofweek'] = df[i].dt.dayofweek
        df[i + '_quarter'] = df[i].dt.quarter
        df[i + '_isweekend'] = np.where(df[ i + '_dayofweek'].isin([5,6]), 1, 0)
    return df

# Convert time data into differences
train_df = create_datetime_features(train_df, ['issue_date', 'listing_date'])
train_df['listing_issue_diff'] = train_df['listing_date'] - train_df['issue_date']
train_df['listing_issue_diff'] = train_df['listing_issue_diff'].dt.days

#One-Hot Encoding Categorical Data 
train_df = pd.get_dummies(columns = ['condition', 'color_type', 'X1', 'X2'], data= train_df)

In [ ]:
#area feature
train_df['area(m)'] = train_df['length(m)'] * train_df['height(cm)'] /100

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18834 entries, 0 to 18833
Columns: 117 entries, pet_id to area(m)
dtypes: category(3), datetime64[ns](2), float64(3), int64(19), uint8(90)
memory usage: 5.9 MB

#EDA

#Modeling

In [ ]:
#Splitting X & Y (dropping the categories in x that aren't needed)
X = train_df.drop( ['breed_category', 'pet_category', 'issue_date', 'listing_date', 'pet_id'], axis = 1)
y = train_df[ ['breed_category', 'pet_category'] ]

In [ ]:
cols_to_scale = list(X)
cols_to_scale.sort()

In [ ]:
#performing z-score for normalizing the variables
sc = StandardScaler()
sc.fit(X[cols_to_scale])
X_Scaled = pd.DataFrame(sc.transform(X[cols_to_scale]), columns= X.columns)

In [ ]:
#Validate the original output
X.describe()

          length(m)    height(cm)  ...          X2_9       area(m)
count  18834.000000  18834.000000  ...  18834.000000  18834.000000
mean       0.502636     27.448832  ...      0.273123      0.137800
std        0.288705     13.019781  ...      0.445575      0.109404
min        0.000000      5.000000  ...      0.000000      0.000000
25%        0.250000     16.172500  ...      0.000000      0.049447
50%        0.500000     27.340000  ...      0.000000      0.109425
75%        0.760000     38.890000  ...      1.000000      0.204836
max        1.000000     50.000000  ...      1.000000      0.497800

[8 rows x 112 columns]

In [ ]:
#Validate Scaled Output (Mean = 0, STDEV = 1)
X_Scaled.describe()

          length(m)    height(cm)  ...          X2_9       area(m)
count  1.883400e+04  1.883400e+04  ...  1.883400e+04  1.883400e+04
mean   6.478010e-16  1.412463e-17  ... -1.094144e-13  6.733019e-17
std    1.000027e+00  1.000027e+00  ...  1.000027e+00  1.000027e+00
min   -1.153414e+00 -5.210778e-02  ... -2.566887e+00 -8.492320e-01
25%   -1.153414e+00 -5.210778e-02  ... -4.513744e-01 -6.714171e-01
50%    8.669914e-01 -5.210778e-02  ... -4.513744e-01 -4.224762e-01
75%    8.669914e-01 -5.210778e-02  ...  6.063817e-01  2.386306e-01
max    8.669914e-01  1.919099e+01  ...  1.664138e+00  6.566106e+00

[8 rows x 112 columns]

In [ ]:
sm = SMOTE(random_state = 2) 
X_Scaled_os, y_pet_os = sm.fit_sample(X_Scaled, y['pet_category'].ravel()) 
# X_Scaled_os, y_breed_os = sm.fit_sample(X_Scaled, y['breed_category'].ravel())

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_Scaled, y, random_state = 2020, stratify=y, train_size = 0.8)

In [ ]:
# MLP Classfier Model
mlp_breed = MLPClassifier(hidden_layer_sizes=(30, 8, 2), activation = 'relu', solver = 'adam', alpha = 0.0001, learning_rate = 'adaptive', learning_rate_init= 0.0005, max_iter= 2000, random_state= 2020, verbose = True)

In [ ]:
mlp_breed.fit(X_Scaled, y['breed_category'])

Iteration 1, loss = 1.14801967
Iteration 2, loss = 1.03751937
Iteration 3, loss = 0.87623991
Iteration 4, loss = 0.74461400
Iteration 5, loss = 0.68703672
Iteration 6, loss = 0.65513451
Iteration 7, loss = 0.63221034
Iteration 8, loss = 0.61351476
Iteration 9, loss = 0.59752734
Iteration 10, loss = 0.58265863
Iteration 11, loss = 0.56824266
Iteration 12, loss = 0.55395912
Iteration 13, loss = 0.53976589
Iteration 14, loss = 0.52775202
Iteration 15, loss = 0.51580081
Iteration 16, loss = 0.50425011
Iteration 17, loss = 0.49456370
Iteration 18, loss = 0.48392698
Iteration 19, loss = 0.47460304
Iteration 20, loss = 0.46513494
Iteration 21, loss = 0.45517912
Iteration 22, loss = 0.44718875
Iteration 23, loss = 0.43859692
Iteration 24, loss = 0.43100198
Iteration 25, loss = 0.42255507
Iteration 26, loss = 0.41565653
Iteration 27, loss = 0.40844068
Iteration 28, loss = 0.40234934
Iteration 29, loss = 0.39593080
Iteration 30, loss = 0.38892555
Iteration 31, loss = 0.38327574
Iteration 32, loss = 0.37733811
Iteration 33, loss = 0.37204398
Iteration 34, loss = 0.32559458
Iteration 35, loss = 0.26735812
Iteration 36, loss = 0.25270609
Iteration 37, loss = 0.24167575
Iteration 38, loss = 0.23353142
Iteration 39, loss = 0.22569321
Iteration 40, loss = 0.21868255
Iteration 41, loss = 0.21370088
Iteration 42, loss = 0.20863782
Iteration 43, loss = 0.20327828
Iteration 44, loss = 0.19875052
Iteration 45, loss = 0.19516938
Iteration 46, loss = 0.19007792
Iteration 47, loss = 0.18655060
Iteration 48, loss = 0.18318090
Iteration 49, loss = 0.18055352
Iteration 50, loss = 0.17747990
Iteration 51, loss = 0.17543948
Iteration 52, loss = 0.17311624
Iteration 53, loss = 0.17124912
Iteration 54, loss = 0.16894874
Iteration 55, loss = 0.16754957
Iteration 56, loss = 0.16571124
Iteration 57, loss = 0.16382499
Iteration 58, loss = 0.16195461
Iteration 59, loss = 0.16053092
Iteration 60, loss = 0.15897502
Iteration 61, loss = 0.15780398
Iteration 62, loss = 0.15754019
Iteration 63, loss = 0.15545512
Iteration 64, loss = 0.15443145
Iteration 65, loss = 0.15377243
Iteration 66, loss = 0.15268424
Iteration 67, loss = 0.15180474
Iteration 68, loss = 0.15064421
Iteration 69, loss = 0.15024056
Iteration 70, loss = 0.14900433
Iteration 71, loss = 0.14802440
Iteration 72, loss = 0.14765607
Iteration 73, loss = 0.14753999
Iteration 74, loss = 0.14607536
Iteration 75, loss = 0.14543903
Iteration 76, loss = 0.14496700
Iteration 77, loss = 0.14399957
Iteration 78, loss = 0.14425453
Iteration 79, loss = 0.14339905
Iteration 80, loss = 0.14226362
Iteration 81, loss = 0.14195228
Iteration 82, loss = 0.14170736
Iteration 83, loss = 0.14090447
Iteration 84, loss = 0.14017460
Iteration 85, loss = 0.13938439
Iteration 86, loss = 0.13999342
Iteration 87, loss = 0.13864825
Iteration 88, loss = 0.13844625
Iteration 89, loss = 0.13807791
Iteration 90, loss = 0.13733661
Iteration 91, loss = 0.13685597
Iteration 92, loss = 0.13719679
Iteration 93, loss = 0.13635256
Iteration 94, loss = 0.13617482
Iteration 95, loss = 0.13661363
Iteration 96, loss = 0.13553867
Iteration 97, loss = 0.13552540
Iteration 98, loss = 0.13490336
Iteration 99, loss = 0.13404537
Iteration 100, loss = 0.13426321
Iteration 101, loss = 0.13465567
Iteration 102, loss = 0.13388455
Iteration 103, loss = 0.13397603
Iteration 104, loss = 0.13382862
Iteration 105, loss = 0.13357939
Iteration 106, loss = 0.13294670
Iteration 107, loss = 0.13240804
Iteration 108, loss = 0.13234303
Iteration 109, loss = 0.13255179
Iteration 110, loss = 0.13170768
Iteration 111, loss = 0.13112578
Iteration 112, loss = 0.13100130
Iteration 113, loss = 0.13123442
Iteration 114, loss = 0.13093540
Iteration 115, loss = 0.13073812
Iteration 116, loss = 0.13068841
Iteration 117, loss = 0.13033703
Iteration 118, loss = 0.13051843
Iteration 119, loss = 0.12994901
Iteration 120, loss = 0.12907965
Iteration 121, loss = 0.12930015
Iteration 122, loss = 0.12879016
Iteration 123, loss = 0.12969146
Iteration 124, loss = 0.12863683
Iteration 125, loss = 0.12819021
Iteration 126, loss = 0.12819050
Iteration 127, loss = 0.12769082
Iteration 128, loss = 0.12844171
Iteration 129, loss = 0.12807744
Iteration 130, loss = 0.12792380
Iteration 131, loss = 0.12818249
Iteration 132, loss = 0.12801320
Iteration 133, loss = 0.12789196
Iteration 134, loss = 0.12736672
Iteration 135, loss = 0.12777746
Iteration 136, loss = 0.12633228
Iteration 137, loss = 0.12652273
Iteration 138, loss = 0.12680716
Iteration 139, loss = 0.12680966
Iteration 140, loss = 0.12588043
Iteration 141, loss = 0.12599630
Iteration 142, loss = 0.12566625
Iteration 143, loss = 0.12557815
Iteration 144, loss = 0.12539187
Iteration 145, loss = 0.12588684
Iteration 146, loss = 0.12495001
Iteration 147, loss = 0.12516900
Iteration 148, loss = 0.12413042
Iteration 149, loss = 0.12478979
Iteration 150, loss = 0.12448658
Iteration 151, loss = 0.12390691
Iteration 152, loss = 0.12467454
Iteration 153, loss = 0.12469071
Iteration 154, loss = 0.12404895
Iteration 155, loss = 0.12391733
Iteration 156, loss = 0.12349558
Iteration 157, loss = 0.12294638
Iteration 158, loss = 0.12177930
Iteration 159, loss = 0.12181093
Iteration 160, loss = 0.12189551
Iteration 161, loss = 0.12098527
Iteration 162, loss = 0.12105987
Iteration 163, loss = 0.12128795
Iteration 164, loss = 0.12135240
Iteration 165, loss = 0.12100704
Iteration 166, loss = 0.12098708
Iteration 167, loss = 0.11950904
Iteration 168, loss = 0.12050742
Iteration 169, loss = 0.12007942
Iteration 170, loss = 0.12065892
Iteration 171, loss = 0.11996006
Iteration 172, loss = 0.11988129
Iteration 173, loss = 0.12068116
Iteration 174, loss = 0.11974989
Iteration 175, loss = 0.11937867
Iteration 176, loss = 0.11960714
Iteration 177, loss = 0.11972687
Iteration 178, loss = 0.12000328
Iteration 179, loss = 0.11880341
Iteration 180, loss = 0.11904314
Iteration 181, loss = 0.11848265
Iteration 182, loss = 0.11850420
Iteration 183, loss = 0.11918537
Iteration 184, loss = 0.11783796
Iteration 185, loss = 0.11879134
Iteration 186, loss = 0.11876868
Iteration 187, loss = 0.11902115
Iteration 188, loss = 0.11784795
Iteration 189, loss = 0.11814999
Iteration 190, loss = 0.11805013
Iteration 191, loss = 0.11731901
Iteration 192, loss = 0.11776823
Iteration 193, loss = 0.11801963
Iteration 194, loss = 0.11762093
Iteration 195, loss = 0.11717291
Iteration 196, loss = 0.11648775
Iteration 197, loss = 0.11671456
Iteration 198, loss = 0.11642730
Iteration 199, loss = 0.11638218
Iteration 200, loss = 0.11549501
Iteration 201, loss = 0.11643719
Iteration 202, loss = 0.11633628
Iteration 203, loss = 0.11532210
Iteration 204, loss = 0.11502323
Iteration 205, loss = 0.11555421
Iteration 206, loss = 0.11667622
Iteration 207, loss = 0.11440026
Iteration 208, loss = 0.11406708
Iteration 209, loss = 0.11476084
Iteration 210, loss = 0.11447871
Iteration 211, loss = 0.11485289
Iteration 212, loss = 0.11432908
Iteration 213, loss = 0.11390890
Iteration 214, loss = 0.11399974
Iteration 215, loss = 0.11329465
Iteration 216, loss = 0.11415871
Iteration 217, loss = 0.11338774
Iteration 218, loss = 0.11334932
Iteration 219, loss = 0.11290058
Iteration 220, loss = 0.11282849
Iteration 221, loss = 0.11268575
Iteration 222, loss = 0.11245730
Iteration 223, loss = 0.11257535
Iteration 224, loss = 0.11262283
Iteration 225, loss = 0.11275277
Iteration 226, loss = 0.11244829
Iteration 227, loss = 0.11281095
Iteration 228, loss = 0.11271888
Iteration 229, loss = 0.11236106
Iteration 230, loss = 0.11262675
Iteration 231, loss = 0.11359724
Iteration 232, loss = 0.11370428
Iteration 233, loss = 0.11255286
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(30, 8, 2), learning_rate='adaptive',
              learning_rate_init=0.0005, max_fun=15000, max_iter=2000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=2020, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=True,
              warm_start=False)

In [ ]:
y_pred_breed = mlp_breed.predict(X_test)
breed_val = pd.DataFrame({'ACTUALS': y_test['breed_category'], 'PREDICTED': y_pred_breed})
pd.crosstab(breed_val['ACTUALS'], breed_val['PREDICTED'])

PREDICTED     0     1    2
ACTUALS
0          1740    60    0
1           127  1544    0
2             0     5  291

In [ ]:
f1_score(breed_val['ACTUALS'], breed_val['PREDICTED'], average= 'weighted')

0.9489971902921917

In [ ]:
mlp_pet = MLPClassifier(hidden_layer_sizes=(30, 8, 2), activation = 'relu', solver = 'adam', alpha = 0.0001, learning_rate = 'adaptive', learning_rate_init= 0.0005, max_iter= 2000, random_state= 2020, verbose = True)

In [ ]:
mlp_pet.fit(X_Scaled_os, y_pet_os)

Iteration 1, loss = 1.40409023
Iteration 2, loss = 0.88234668
Iteration 3, loss = 0.60042901
Iteration 4, loss = 0.50784020
Iteration 5, loss = 0.46810762
Iteration 6, loss = 0.43835303
Iteration 7, loss = 0.41393099
Iteration 8, loss = 0.39282983
Iteration 9, loss = 0.37419701
Iteration 10, loss = 0.35680630
Iteration 11, loss = 0.34090776
Iteration 12, loss = 0.32722268
Iteration 13, loss = 0.31584526
Iteration 14, loss = 0.30442567
Iteration 15, loss = 0.29457555
Iteration 16, loss = 0.28601637
Iteration 17, loss = 0.27791093
Iteration 18, loss = 0.27072588
Iteration 19, loss = 0.26383869
Iteration 20, loss = 0.25816070
Iteration 21, loss = 0.25210085
Iteration 22, loss = 0.24751473
Iteration 23, loss = 0.24219497
Iteration 24, loss = 0.23829526
Iteration 25, loss = 0.23426175
Iteration 26, loss = 0.23066076
Iteration 27, loss = 0.22679414
Iteration 28, loss = 0.22374476
Iteration 29, loss = 0.21940828
Iteration 30, loss = 0.21489177
Iteration 31, loss = 0.21215269
Iteration 32, loss = 0.20893748
Iteration 33, loss = 0.20671265
Iteration 34, loss = 0.20336577
Iteration 35, loss = 0.20046598
Iteration 36, loss = 0.19799243
Iteration 37, loss = 0.19591370
Iteration 38, loss = 0.19336566
Iteration 39, loss = 0.19125310
Iteration 40, loss = 0.18910773
Iteration 41, loss = 0.18701812
Iteration 42, loss = 0.18537795
Iteration 43, loss = 0.18285667
Iteration 44, loss = 0.18113852
Iteration 45, loss = 0.17935261
Iteration 46, loss = 0.17798394
Iteration 47, loss = 0.17605637
Iteration 48, loss = 0.17529156
Iteration 49, loss = 0.17405567
Iteration 50, loss = 0.17151404
Iteration 51, loss = 0.17086775
Iteration 52, loss = 0.17010826
Iteration 53, loss = 0.16779540
Iteration 54, loss = 0.16652318
Iteration 55, loss = 0.16545757
Iteration 56, loss = 0.16424996
Iteration 57, loss = 0.16381534
Iteration 58, loss = 0.16283643
Iteration 59, loss = 0.16149568
Iteration 60, loss = 0.15997169
Iteration 61, loss = 0.15969362
Iteration 62, loss = 0.15890703
Iteration 63, loss = 0.15814645
Iteration 64, loss = 0.15711701
Iteration 65, loss = 0.15624738
Iteration 66, loss = 0.15586895
Iteration 67, loss = 0.15505623
Iteration 68, loss = 0.15396583
Iteration 69, loss = 0.15345555
Iteration 70, loss = 0.15436746
Iteration 71, loss = 0.15806066
Iteration 72, loss = 0.15251265
Iteration 73, loss = 0.15200022
Iteration 74, loss = 0.15119332
Iteration 75, loss = 0.15097742
Iteration 76, loss = 0.14944710
Iteration 77, loss = 0.14895527
Iteration 78, loss = 0.14990939
Iteration 79, loss = 0.14812344
Iteration 80, loss = 0.14827247
Iteration 81, loss = 0.14706463
Iteration 82, loss = 0.14714024
Iteration 83, loss = 0.14634485
Iteration 84, loss = 0.14549283
Iteration 85, loss = 0.14485832
Iteration 86, loss = 0.14508554
Iteration 87, loss = 0.14481941
Iteration 88, loss = 0.14394031
Iteration 89, loss = 0.14373827
Iteration 90, loss = 0.14306602
Iteration 91, loss = 0.14388162
Iteration 92, loss = 0.14289731
Iteration 93, loss = 0.14203224
Iteration 94, loss = 0.14192401
Iteration 95, loss = 0.14101364
Iteration 96, loss = 0.14197883
Iteration 97, loss = 0.14077330
Iteration 98, loss = 0.14026983
Iteration 99, loss = 0.14031231
Iteration 100, loss = 0.13971377
Iteration 101, loss = 0.13917086
Iteration 102, loss = 0.13874986
Iteration 103, loss = 0.13887928
Iteration 104, loss = 0.13943649
Iteration 105, loss = 0.14043827
Iteration 106, loss = 0.13983916
Iteration 107, loss = 0.13855605
Iteration 108, loss = 0.13774947
Iteration 109, loss = 0.13733565
Iteration 110, loss = 0.13674531
Iteration 111, loss = 0.13628495
Iteration 112, loss = 0.13619029
Iteration 113, loss = 0.13598050
Iteration 114, loss = 0.13704701
Iteration 115, loss = 0.13662900
Iteration 116, loss = 0.13509559
Iteration 117, loss = 0.13592338
Iteration 118, loss = 0.13494448
Iteration 119, loss = 0.13510915
Iteration 120, loss = 0.13447490
Iteration 121, loss = 0.13406263
Iteration 122, loss = 0.13426935
Iteration 123, loss = 0.13346938
Iteration 124, loss = 0.13370229
Iteration 125, loss = 0.13381516
Iteration 126, loss = 0.13282376
Iteration 127, loss = 0.13230888
Iteration 128, loss = 0.13264500
Iteration 129, loss = 0.13232718
Iteration 130, loss = 0.13255364
Iteration 131, loss = 0.13210190
Iteration 132, loss = 0.13227705
Iteration 133, loss = 0.13188473
Iteration 134, loss = 0.13202878
Iteration 135, loss = 0.13139656
Iteration 136, loss = 0.13129198
Iteration 137, loss = 0.13662441
Iteration 138, loss = 0.13146506
Iteration 139, loss = 0.13092642
Iteration 140, loss = 0.13137986
Iteration 141, loss = 0.13073473
Iteration 142, loss = 0.13075194
Iteration 143, loss = 0.13069507
Iteration 144, loss = 0.12980015
Iteration 145, loss = 0.13083586
Iteration 146, loss = 0.12986512
Iteration 147, loss = 0.12944244
Iteration 148, loss = 0.12907902
Iteration 149, loss = 0.12899564
Iteration 150, loss = 0.12928568
Iteration 151, loss = 0.12883486
Iteration 152, loss = 0.12813893
Iteration 153, loss = 0.12865185
Iteration 154, loss = 0.13126374
Iteration 155, loss = 0.13038831
Iteration 156, loss = 0.12806847
Iteration 157, loss = 0.12815488
Iteration 158, loss = 0.12778117
Iteration 159, loss = 0.12761267
Iteration 160, loss = 0.12734461
Iteration 161, loss = 0.12723722
Iteration 162, loss = 0.12738022
Iteration 163, loss = 0.13045123
Iteration 164, loss = 0.12699032
Iteration 165, loss = 0.12648742
Iteration 166, loss = 0.12726468
Iteration 167, loss = 0.12660456
Iteration 168, loss = 0.12696911
Iteration 169, loss = 0.12652624
Iteration 170, loss = 0.12768894
Iteration 171, loss = 0.12749584
Iteration 172, loss = 0.12668505
Iteration 173, loss = 0.12572939
Iteration 174, loss = 0.12667687
Iteration 175, loss = 0.12513511
Iteration 176, loss = 0.12508553
Iteration 177, loss = 0.12554371
Iteration 178, loss = 0.12651403
Iteration 179, loss = 0.12623540
Iteration 180, loss = 0.12466265
Iteration 181, loss = 0.12638270
Iteration 182, loss = 0.12444425
Iteration 183, loss = 0.12425486
Iteration 184, loss = 0.12473600
Iteration 185, loss = 0.12397108
Iteration 186, loss = 0.12421568
Iteration 187, loss = 0.12428477
Iteration 188, loss = 0.12368175
Iteration 189, loss = 0.12358899
Iteration 190, loss = 0.12385666
Iteration 191, loss = 0.12370265
Iteration 192, loss = 0.12334927
Iteration 193, loss = 0.12337644
Iteration 194, loss = 0.12562657
Iteration 195, loss = 0.12309169
Iteration 196, loss = 0.12338394
Iteration 197, loss = 0.12290739
Iteration 198, loss = 0.12282827
Iteration 199, loss = 0.12290993
Iteration 200, loss = 0.12178310
Iteration 201, loss = 0.12245762
Iteration 202, loss = 0.12185899
Iteration 203, loss = 0.12139316
Iteration 204, loss = 0.12205205
Iteration 205, loss = 0.12347189
Iteration 206, loss = 0.12278295
Iteration 207, loss = 0.12173199
Iteration 208, loss = 0.12174562
Iteration 209, loss = 0.12168493
Iteration 210, loss = 0.12101734
Iteration 211, loss = 0.12147654
Iteration 212, loss = 0.12075487
Iteration 213, loss = 0.12404157
Iteration 214, loss = 0.12094260
Iteration 215, loss = 0.12130450
Iteration 216, loss = 0.12094115
Iteration 217, loss = 0.12098574
Iteration 218, loss = 0.12052389
Iteration 219, loss = 0.12075828
Iteration 220, loss = 0.12127320
Iteration 221, loss = 0.12076148
Iteration 222, loss = 0.11961448
Iteration 223, loss = 0.11999436
Iteration 224, loss = 0.11930131
Iteration 225, loss = 0.11988152
Iteration 226, loss = 0.12333959
Iteration 227, loss = 0.12361084
Iteration 228, loss = 0.12496194
Iteration 229, loss = 0.12085639
Iteration 230, loss = 0.11902126
Iteration 231, loss = 0.11922794
Iteration 232, loss = 0.11940358
Iteration 233, loss = 0.11999822
Iteration 234, loss = 0.11882498
Iteration 235, loss = 0.11955363
Iteration 236, loss = 0.11927098
Iteration 237, loss = 0.11921439
Iteration 238, loss = 0.11965541
Iteration 239, loss = 0.11836579
Iteration 240, loss = 0.11805334
Iteration 241, loss = 0.11819548
Iteration 242, loss = 0.11873499
Iteration 243, loss = 0.11954382
Iteration 244, loss = 0.11817802
Iteration 245, loss = 0.11886723
Iteration 246, loss = 0.11810690
Iteration 247, loss = 0.11932419
Iteration 248, loss = 0.11829677
Iteration 249, loss = 0.11769961
Iteration 250, loss = 0.11861274
Iteration 251, loss = 0.11822388
Iteration 252, loss = 0.11825244
Iteration 253, loss = 0.11716674
Iteration 254, loss = 0.11788814
Iteration 255, loss = 0.11776805
Iteration 256, loss = 0.11704704
Iteration 257, loss = 0.12063860
Iteration 258, loss = 0.11818172
Iteration 259, loss = 0.11833922
Iteration 260, loss = 0.11715497
Iteration 261, loss = 0.11698879
Iteration 262, loss = 0.11792514
Iteration 263, loss = 0.11876174
Iteration 264, loss = 0.11805620
Iteration 265, loss = 0.11704650
Iteration 266, loss = 0.11663273
Iteration 267, loss = 0.11740436
Iteration 268, loss = 0.11613859
Iteration 269, loss = 0.11745573
Iteration 270, loss = 0.11644444
Iteration 271, loss = 0.11679645
Iteration 272, loss = 0.11659145
Iteration 273, loss = 0.11688235
Iteration 274, loss = 0.11691954
Iteration 275, loss = 0.12237810
Iteration 276, loss = 0.12420772
Iteration 277, loss = 0.11959863
Iteration 278, loss = 0.11609100
Iteration 279, loss = 0.11666601
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(30, 8, 2), learning_rate='adaptive',
              learning_rate_init=0.0005, max_fun=15000, max_iter=2000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=2020, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=True,
              warm_start=False)

In [ ]:
y_pred_pet = mlp_pet.predict(X_test)
pet_val = pd.DataFrame({'ACTUALS': y_test['pet_category'], 'PREDICTED': y_pred_pet})
pd.crosstab(pet_val['ACTUALS'], pet_val['PREDICTED'])

PREDICTED   0     1     2    4
ACTUALS
0          17     0     0    0
1           3  1256   177    1
2           0   113  1999   12
4           0     0     2  187

In [ ]:
f1_score(pet_val['ACTUALS'], pet_val['PREDICTED'], average= 'weighted')

0.9178867234714158

#Test Data

In [ ]:
test_df = pd.read_csv('testPetID.csv')
#Fill missing values for condition column
test_df['condition'].fillna('missing', inplace = True)

In [ ]:
test_df['area(m)'] = test_df['length(m)'] * test_df['height(cm)'] /100

In [ ]:
# converting respective columns into respective data_types
test_df = convert_to_datatype(test_df, ['pet_id', 'condition', 'color_type', 'X1', 'X2'], 'category')
test_df = convert_to_datatype(test_df, ['issue_date', 'listing_date'], 'datetime64[ns]')

In [ ]:
# Convert time data into differences
test_df = create_datetime_features(test_df, ['issue_date', 'listing_date'])
test_df['listing_issue_diff'] = test_df['listing_date'] - test_df['issue_date']
test_df['listing_issue_diff'] = test_df['listing_issue_diff'].dt.days

#One-Hot Encoding Categorical Data 
test_df = pd.get_dummies(columns = ['condition', 'color_type', 'X1', 'X2'], data= test_df)

In [ ]:
X_test_upload = test_df.drop( ['pet_id', 'issue_date', 'listing_date'] , axis = 1)

In [ ]:
set(list(X_Scaled)) - set(list(X_test_upload))

{'X1_19', 'X1_3', 'color_type_Black Tiger', 'color_type_Brown Tiger'}

In [ ]:
for i in ['X1_19', 'X1_3', 'color_type_Black Tiger', 'color_type_Brown Tiger']:
  X_test_upload[i] = 0
X_test_scaled = sc.transform(X_test_upload[cols_to_scale])

In [ ]:
y_test_breed_op = mlp_breed.predict(X_test_scaled)
y_test_pet_op = mlp_pet.predict(X_test_scaled)
results = pd.DataFrame( { 'pet_id': test_df['pet_id'], 'breed_category': y_test_breed_op, 'pet_category': y_test_pet_op  })

In [ ]:
results.head()

       pet_id  breed_category  pet_category
0  ANSL_75005               1             2
1  ANSL_76663               0             1
2  ANSL_58259               0             2
3  ANSL_67171               0             2
4  ANSL_72871               0             2

In [ ]:
results.to_csv('result005.csv', index = False)